@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  background-color: #ddffe3;
  overflow-x: hidden; 
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h5 {
  font-family: 'Lora', serif;
}

p, small, span, a, h4 {
  font-family: 'Source Sans Pro', sans-serif;
}

.navbar {
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #fff;
  padding-left: 20px;
  padding-right: 20px;
  z-index: 3333;
  box-shadow: 0 1px 2px rgba(129, 129, 129, 0.07), 
    0 2px 4px rgba(83, 83, 83, 0.07), 
    0 4px 8px rgba(141, 141, 141, 0.07), 
    0 8px 16px rgba(104, 104, 104, 0.07),
    0 16px 32px rgba(95, 95, 95, 0.07), 
    0 32px 64px rgba(131, 131, 131, 0.07);
}

.navbar img {
  width: 60px;
  top: 12px;
  position: absolute;
}

.navbar a {
  color: rgba(64, 72, 82, 1);
  font-size: 16px;
  margin-top: 5px;
  margin-left: 7px;
  font-weight: 700;
}

.navbar .btn-katalog-navbar {
  background-color: #006411;
  margin-left: 7px;
  color: white;
  border-radius: 8888px;
  cursor: pointer;
  width: 190px;
  height: 47px;
  border: none;
  outline: none;
  transition: 0.4s;
}

.navbar .btn-katalog-navbar:hover {
  transition: 0.4s;
  filter: brightness(80%)
}

.hero-homepage {
  position: relative;
  width: 100vw;
  height: 550px;
  margin-top: 80px;
  display: flex;
  /* background-image: url('../images/banner/gelombang_hero.png'); */
  background-size: contain;
  background-color: #ddffe3;
}

.hero-homepage-detail {
  position: relative;
  width: 100vw;
  height: max-content;
  padding-top: 120px;
  display: flex;
  /* background-image: url('../images/banner/gelombang_hero.png'); */
  background-size: contain;
  background-color: #ddffe3;  
}

.wrap-hero-homepage {
  display: flex;
  width: 100vw;
  height: 100%;
  text-align: center;
}

.wrap-hero-homepage-detail {
  display: flex;
  width: 100vw;
  height: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hero-homepage .wrap-hero-homepage .hero-child {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero-homepage .wrap-hero-homepage .hero-child2 {
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero-homepage-detail .wrap-hero-homepage-detail .hero-child {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero-homepage-detail .wrap-hero-homepage-detail .hero-child2 {
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrap-hero-homepage .hero-child h1 {
  color: #006411;
  margin-top: 30px;
  font-weight: bold;
  width: 100%;
  margin-left: 200px;
  font-size: 55px;
  text-align: left;
}

.wrap-hero-homepage-detail .hero-child-detail h1 {
  color: #006411;
  margin-top: 30px;
  font-weight: bold;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  font-size: 55px;
  text-align: center;
}

.hero-child-detail .p {
  line-height: 2em;
  text-align: center;
  width: 84%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  margin-top: 20px;
  font-size: 17px;
  color: rgb(128, 128, 128);
}

.hero-child .p {
  line-height: 2em;
  text-align: left;
  width: 84%;
  margin-left: 90px;
  margin-bottom: 50px;
  margin-top: 20px;
  font-size: 17px;
  color: rgb(128, 128, 128);
}

.wrap-hero-homepage-detail .hero-child-detail h1 {
  color: #006411;
  font-weight: bold;
  width: 50%;
  font-size: 55px;
  text-align: center;
}

.hero-child-detail .p {
  line-height: 2em;
  text-align: center;
  width: 60%;
  margin-top: 20px;
  font-size: 17px;
  color: rgb(128, 128, 128);
}

.hero-child2 img {
  width: 50%;
  position: relative;
  top: 40px;
}

.btn-order {
  border-radius: 9999px;
  outline: none;
  border: none;
  background-color: #006411;
  color: white;
  font-weight: weight;
  width: 150px;
  transform: scale(1.2);
  height: 40px;
  position: absolute;
  margin-left: 110px;
  left: 6px;
  bottom: 50px;
  transition: 0.1s;
}

.btn-order p {
  position: relative;
  top: 6px;
  margin-left: 0px;
}

.btn-order:hover {
  transition: 0.1s;
  filter: brightness(86%);
  transform: scale(1.1);
}


/* kode css untuk section 2 di homepage */

.section2 {
  position: relative;
  margin-top: 130px;
  display: flex;
  width: 90vw;
  margin-left: auto;
  margin-right: auto;
}

.section2-left {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section2-left img {
  width: 80%;
  left: -10px;
  position: relative;
}

.section2-right {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.section2-right .card-undangan {
  width: 45%;
  margin: 10px;
  border-radius: 10px;
  display: flex;
}

.card-undangan img {
  width: 50px;
  height: 50px;
  margin-right: 20px;
}

.card-undangan p {
  line-height: 2em;
  width: 100%;
  color: rgb(112, 112, 112);
  font-size: 15px;
}

.section3 {
  position: relative;
  width: 100vw;
  margin-top: 100px;
  height: max-content;
  /* background-image: url('../images/banner/gelombang_fitur.png'); */
  background-size: contain;
  background-color: #ddffe3;
  background-repeat: no-repeat;
}

.section3 h2 {
  color: #006411;
  font-weight: bold;
  width: 90%;
  margin-left: auto;
  text-align: center;
  margin-right: auto;
  font-size: 55px;
}

.section3 p {
  text-align: center;
}

.wrap-section3 {
  position: relative;
  display: flex;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
}

.handphone-mid {
  width: 400px;
  position: relative;
  height: 500px;
}

.card-fitur {
  width: 350px;
  display: flex;
  padding: 20px;
  height: max-content;
  margin-bottom: 40px;
  transform: scale(0.9);
  margin-left: auto;
  background-color: white;
  z-index: 33;
  margin-right: auto;
  border-radius: 10px;
  box-shadow: 0 1px 2px rgba(129, 129, 129, 0.07), 
    0 2px 4px rgba(83, 83, 83, 0.07), 
    0 4px 8px rgba(141, 141, 141, 0.07), 
    0 8px 16px rgba(104, 104, 104, 0.07),
    0 16px 32px rgba(95, 95, 95, 0.07), 
    0 32px 64px rgba(131, 131, 131, 0.07);
}

.card-fitur img {
  width : 40px;
  height: 40px;
  margin: 10px;
}

.card-fitur p {
  line-height: 2em;
  width: 100%;
  color: rgba(172, 173, 174, 1);
  font-size: 15px;
}

.section3-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 33%;
  height: max-content;
}

.section3-mid {
  width: 33%;
  display: flex;
  height: max-content;
  justify-content: center;
}

.section3-right {
  display: flex;
  flex-direction: column;
  height: max-content;
  width: 33%;
  justify-content: center;
  align-items: center;
}

.wrap-btn-fitur {
  width: 100vw;
  display: flex;
  justify-content: center;
  height: max-content;
  align-items: center;
}

.btn-fitur {
  position: relative;
  border-radius: 9999px;
  outline: none;
  border: none;
  background-color: #006411;
  color: white;
  font-weight: weight;
  width: 150px;
  left: -4px;
  transform: scale(1.2);
  height: 40px;
  position: relative;
  bottom: 90px;
}

.section4 {
  margin-top: 110px;
}

.section4 h2 {
  color: #006411;
  font-weight: bold;
  width: 90%;
  margin-left: auto;
  text-align: center;
  margin-right: auto;
  font-size: 55px;
}

.section4 .p {
  text-align: center;
  margin-bottom: 65px;
}

.wrap-pricing {
  display: flex;
  justify-content: center;
  align-items: center;+
}

.wrap-paket {
  width: 90vw;
  background-color: rgb(255, 255, 255);
  border-radius: 14px;
  padding: 20px;
  margin-left: auto;
  flex-wrap: wrap;
  margin-right: auto;
  margin-bottom: 50px;
  height: max-content;
  justify-content: center;
  display: flex;
}

.wrap-paket .listt img {
  width: 16px;
  margin-right: 10px;
}

.child-listt {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  width: 33%;
  padding: 20px 20px 30px 20px;
}

.child-listt:nth-child(1) {
  border-right: 1px solid black;
}
.child-listt:nth-child(2) {
  border-right: 1px solid black;
}

.child-listt-bottom {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.child-listt-bottom .listtt {
  width: 33%;
  margin-bottom: 30px;
}

.onelist {
  border-top: 1px solid black;
}

.wrapper-listtt {
  width: 100%;
  border-bottom: 1px solid black;
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
}

.wrap-listtt .listtt {
  padding-left: 40px;
}

.wrapper-listtt .listtt:nth-child(1) {
  border-right: 1px solid black;
}
.wrapper-listtt .listtt:nth-child(2) {
  border-right: 1px solid black;
}

.hr {
  width: 100%;
  border-top: 1px solid black;
  margin-bottom: 40px;
}

.child-listt p {
  position: relative;
  top: -4px;
}

.listtt p {
  position: relative;
  top: -4px;
}

.wrap-listtt {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.listt {
  display: flex;
  align-items: start;
  justify-content: start;
  padding: 10px;
  height: max-content;
}

.listtt {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px;
  justify-content: start;
  align-items: start;
}

.listtt h3 {
  font-size: 20px;
  font-weight: bold;
}

.listttttt {
  padding: 10px;
  display: flex;
  margin-left: -26px;
  align-items: start;
  justify-content: start;
}

.listttttt p {
  width: 100%;
}

.listtt li {
  list-style: none;
}

.listtt img {
  width: 16px;
  height: 16px;
}

.listt h3 {
  color: #006411;
  font-size: 20px;
  font-weight: bold;
}

.title-listt {
  font-size: 22px;
  color: #006411;
  font-weight: bold;
  margin-bottom: 40px;
}

.wrap-paket img {
  width: 84%;
  margin-left: auto;
  margin-right: auto;
}

.card-pricing {
  margin: 10px;
  border-radius: 10px;
  overflow: hidden;
  width: 370px;
  height: max-content;
  box-shadow: 0 1px 2px rgba(129, 129, 129, 0.07), 
    0 2px 4px rgba(83, 83, 83, 0.07), 
    0 4px 8px rgba(141, 141, 141, 0.07), 
    0 8px 16px rgba(104, 104, 104, 0.07),
    0 16px 32px rgba(95, 95, 95, 0.07), 
    0 32px 64px rgba(131, 131, 131, 0.07);
  transform: scale(0.96);
}

.card3 {
  position: relative;
  top: 0px;
}

.card2 {
  position: relative;
  top: 0px;
}

.card3 .card-pricing-head3 {
  position: relative;
  width: 100%;
  padding: 30px;
  height: 265px;
  background: #008819;
  color: white;
}

.bestSeller {
  position: absolute;
  right: 0;
  top: 0px;
  width: 130px;
}

.card2 .card-pricing-head3 {
  width: 100%;
  padding: 30px;
  height: 265px;
  background: #006411;
  color: white;
}

.card-pricing-content {
  padding-top: 20px;
}

.card3 .card-pricing-head3 h3 {
  font-size: 20px;
  position: relative;
  top: 5px;
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
}

.card2 .card-pricing-head3 h3 {
  font-size: 20px;
  position: relative;
  top: 5px;
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
}

.card3 .card-pricing-head3 h4 {
  font-size: 20px;
  color: white;
  font-family: 'Lora', serif;
  position: relative;
  margin-top: 30px;
  font-weight: normal;
}

.why {
  position: relative;
  overflow: hidden;
  width: 400px;
  color: #006411;
  height: 440px;
  border-radius: 161px 161px 1000px 1000px;
  background-color: 
  rgba(234, 235, 244, 1);
  font-family: 'Source Sans Pro', sans-serif;
}

.why h2 {
  font-weight: bold;
  width: 80%;
  font-size: 48px;
  left: 50px;
  top: 130px;
  position: absolute;
}

.card2 .card-pricing-head3 h4 {
  font-size: 20px;
  color: white;
  font-family: 'Lora', serif;
  position: relative;
  margin-top: 30px;
  font-weight: normal;
}

.harga2 {
  position: relative;
  bottom: 0px;
  font-size: 60px;
  font-family: 'Lora', serif;
  font-weight: bold;
}

.card-pricing-content small {
  opacity: 0.9;
  font-size: 17px;
  margin-top: 30px;
  position: relative;
  margin-left: 30px;
}

.not {
  opacity: 0.5;
  text-decoration: line-through;
}

.card-pricing ul li {
  list-style: none;
  margin-bottom: 14px;
  font-weight: 500;
}

.card-pricing ul {
  margin-top: 20px;
}

.card-pricing ul li img {
  margin-right: 20px;
}

.menu-button {
  display: flex;
  width: 100%;
  margin-top: 40px;
}

.menu-button button {
  border: none;
  outline: none;
  width: 100%;
  height: 60px;
  font-weight: bold;
}

.bantuan {
  border-radius: 0 0 0px 13px;
  color: #006411;
}

.btn-menuz {
  background-color: transparent;
  border-radius: 8888px;
  border: 1px solid rgb(206, 206, 206);
  transform: scale(1.2);
  outline: none;
}

.order-sekarang {
  border-radius: 0 0 13px 0px;
  background-color: #006411;
  color: white;
  width: 100%;
  transition: 0.4s;
}

.order-sekarang:hover {
  transition: 0.4s;
  filter: brightness(80%);
}

.section5 {
  padding-top: 160px;
  padding-bottom: 70px;
  background-color: #ddffe3;
  display: flex;
  /* background-image: url('../images/banner/gelombang_footer.png'); */
  background-size: cover;
  width: 100vw;
  height: max-content;
  background-repeat: no-repeat;
}

.section5-left {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.footer-top p {
  width: 40%;
  color: rgb(231, 231, 231);
}

.wrap-sosmed {
  display: flex;
  align-items: center;
}

.wrap-sosmed img {
  width: 35px;
  color: white;
  background-color: white;
  cursor: pointer;
  border-radius: 10000px;
  padding: 5px;
  box-sizing: border-box;
  margin-right: 10px;
  transition: 0.2s;
}

.wrap-sosmed div {
  margin-right: 40px;
}

.wrap-sosmed img:hover {
  transition: 0.2s;
  filter: brightness(70%);
}

.visi {
  width: 85vw;
  margin-top: 80px;
  background-color: #006411;
  color: white;
  margin-left: auto;
  margin-right: auto;
  height: max-content;
  border-radius: 20px;
  padding: 22px 20px;
}

.pvisi {
  line-height: 2em;
}

.visi h2 {
  font-size: 46px;
  font-weight: bold;
  margin-top: 20px;
  margin-left: 16px;
  color: white;
  margin-bottom: 10px;
}

#preview {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
}

.overlay {
  position: relative;
  background-color: rgba(0, 0, 0, 0.507);
  top: 0;
  width: 100vw;
  height: 100vh;
  left: 0;
}

.wrap-preview {
  position: absolute;
  background-color: rgb(255, 255, 255);
  width: 60vw;
  z-index: 2;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: 2s;
  max-height: 80vh;
  margin-top: -40px;
  min-height: max-content;
  border: 2px solid white;
  overflow: hidden;
}

.wrap-preview img {
  width: 100%;
  transition: 1s;
  height: auto;
}

.close {
  border-radius: 100px;
  background-color: rgb(255, 123, 123);
  padding: 4px;
  width: 40px;
  height: 40px;
  display: flex;
  top: 14px;
  right: 14px;
  box-shadow:
  2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
  6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
  12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
  22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
  41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
  100px 100px 80px rgba(0, 0, 0, 0.07)
;
  position: absolute;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.1s;
}

.close:active {
  transition: 0.1s;
  transform: scale(0.94);
}

.close img {
  width: 40%;
}

.close:hover {
  transition: 0.2s;
  filter: brightness(88%);
}

.show {
  opacity: 1;
  z-index: 9999;
  animation: previ 0.5s ease-in;
}

@keyframes previ {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.delete {
  opacity: 0;
  z-index: -2;
  transition: 0.2s;
}

.wrap-visimisi {
  display: flex;
  align-items: center;
  width: 100%;
}

.wrap-visimisi b {
  background-color: #ffffff;
  color: #006411;
  margin-right: 16px;
  border-radius: 1000px;
  padding: 4px 20px;
  width: max-content;
}

.visi p {
  width: 90%;
}

.wrap-visimisi div {
  width: 100%;
  padding-right: 0px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-content: center;
}

.wrap-sosmed img:active {
  transform: scale(0.93);
  transition: 0.2s;
}

.section5-left img {
  width: 60%;
}

.section5-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}

.section5-right h3 {
  font-weight: bold;
  font-size: 36px;
}

.btn-ask {
  width: 80%;
  margin-bottom: 20px;
  height: 50px;
  outline: none;
  text-align: left;
  padding-left: 30px;
  border: 1px solid rgba(70, 70, 70, 0.747)
}

.footer-top {
  width: 100vw;
  display: flex;
  padding: 24px 35px;
  align-items: center;
  justify-content: space-between;
}

.footer-bottom {
  padding: 12px 0;
  width: 100vw;
  border-top: 1px solid white;
  text-align: center;
}

.footer-left img {
  width: 20%;
}

.btn-ask:active {
  outline: none;
}

.aask {
  margin-bottom: 22px;
  width: 80%;
}

img {
  image-rendering: optimizeQuality; /* membuat gambar terlihat lebih halus */
  -webkit-optimize-contrast: true; /* meningkatkan kontras gambar */
  -webkit-backface-visibility: hidden; /* memperbaiki masalah flicker di beberapa browser */
}

footer {
  position: relative;
  width: 100vw;
  margin-top: 0px;
  overflow: hidden;
  margin-bottom: 0px;
  background-color: #006411;
  color: white;
  height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 90px 10px 90px;
  align-items: center;
}

footer img {
  width: 50px;
}

footer li {
  list-style: none;
  margin-left: 20px;
}

.footer-right {
  display: flex;
}

.menu-katalog {
  margin-top: 110px;
  width: 90vw;
  margin-left: auto;
  padding-bottom: 50px;
  margin-right: auto;
}

.menu-katalog h2 {
  font-weight: bold;
  position: relative;
  font-size: 26px;
  width: 60vw;
  margin-top: -60px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 40px;
}

.card-katalog {
  position: relative;
  width: 300px;
  height: max-content;
  margin: 2px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 13px;
  height: 400px;
  transform: scale(0.8);
}

.card-katalog small {
  opacity: 0.8;
  font-size: 17px;
}

.card-katalog p {
  font-size: 24px;
}

.card-katalog-head {
  width: 100%;
  overflow: hidden;
  height: 40%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.card-katalog-head img {
  width: 100%;
  height: auto;
}

.card-katalog-content {
  overflow: hidden;
  width: 100%;
  height: 60%;
  padding: 12px;
  padding-top: 20px;
}

.card-katalog h4 {
  font-weight: bold;
  font-size: 28px;
}

.menu-set {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: max-content;
  margin-bottom: 40px;
  padding: 10px 90px 10px 90px;
}

.wrap-card-katalog {
  width: 100%;
  height: max-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}